<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ncatz.babyguard">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Babyguard_Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <activity
            android:name=".Login_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KidList_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".Home_Parent_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNavigation"
            android:launchMode="singleInstance" />
        <activity
            android:name=".AboutNursery_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MaterialAboutActivity.Light.DarkActionBar"
            android:launchMode="singleInstance" />
        <activity android:name=".Home_Teacher_Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".preferences.Settings_Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>
        <service android:name=".services.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FCMInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FCMService$NotificationActionService" />
    </application>

</manifest>